* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: url("../../Pudding.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgb(241, 229, 214);
  font-family: "Pudding", sans-serif;
  overflow-x: hidden;
}

.PuddingContainerDark {
  background: url("../../assets//backgrounds/sfondodarktheme.png") no-repeat;
  width: 100%;
  box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.468);
}
.PuddingContainerDark a {
  text-decoration: none;
  color: black;
}
.PuddingContainerDark a .flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;
}
.PuddingContainerDark a .bannerText {
  font-size: 90px;
  text-align: center;
}
.PuddingContainerDark .fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  margin: 1.5rem;
  width: 200px;
  height: 200px;
}
.PuddingContainerDark .fixedButton .fixedImage {
  width: 200px;
}
.PuddingContainerDark .fixedButton .fixedImage:hover {
  transform: scale(1.1);
  transition: all 0.5 ease;
}
.PuddingContainerDark .fixedButtonDarkMode {
  position: fixed;
  top: -45px;
  right: -130px;
  padding: 1.5rem;
  margin: 1.5rem;
  width: 200px;
  height: 200px;
}
.PuddingContainerDark .fixedButtonDarkMode .fixedImageDark {
  width: 60px;
}
.PuddingContainerDark .fixedButtonDarkMode .fixedImageDark:hover {
  transform: scale(1.1);
  transition: all 0.5 ease;
}
.PuddingContainerDark .ButtonContainer {
  width: 400px;
  align-items: center;
}
.PuddingContainerDark .ButtonContainer .PuddingButton {
  width: 100%;
  transform: translateX(2);
  transition: transform 0.5s ease-in-out;
  animation: pudding-dance 2s infinite alternate;
}
@keyframes pudding-dance {
  0% {
    transform: rotate(2deg) translateX(-3px) translateY(-3px);
  }
  100% {
    transform: rotate(-3deg) translateX(3px) translateY(3px);
  }
}
.PuddingContainerDark .ButtonContainer .PuddingButton:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.PuddingContainer {
  background: url("../../assets//backgrounds/SfondoPudding.png") no-repeat;
  width: 100%;
  box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.468);
}
.PuddingContainer a {
  text-decoration: none;
  color: black;
}
.PuddingContainer a .flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;
}
.PuddingContainer a .bannerText {
  font-size: 90px;
  text-align: center;
}
.PuddingContainer .fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  margin: 1.5rem;
  width: 200px;
  height: 200px;
}
.PuddingContainer .fixedButton .fixedImage {
  width: 200px;
}
.PuddingContainer .fixedButton .fixedImage:hover {
  transform: scale(1.1);
  transition: all 0.5 ease;
}
.PuddingContainer .fixedButtonDarkMode {
  position: fixed;
  top: -45px;
  right: -130px;
  padding: 1.5rem;
  margin: 1.5rem;
  width: 200px;
  height: 200px;
}
.PuddingContainer .fixedButtonDarkMode .fixedImageDark {
  width: 60px;
}
.PuddingContainer .fixedButtonDarkMode .fixedImageDark:hover {
  transform: scale(1.1);
  transition: all 0.5 ease;
}
.PuddingContainer .ButtonContainer {
  width: 400px;
  align-items: center;
}
.PuddingContainer .ButtonContainer .PuddingButton {
  width: 100%;
  transform: translateX(2);
  transition: transform 0.5s ease-in-out;
  animation: pudding-dance 2s infinite alternate;
}
@keyframes pudding-dance {
  0% {
    transform: rotate(2deg) translateX(-3px) translateY(-3px);
  }
  100% {
    transform: rotate(-3deg) translateX(3px) translateY(3px);
  }
}
.PuddingContainer .ButtonContainer .PuddingButton:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=Home.css.map */