* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'MyFont';
    src: url('../../Pudding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
      font-family: 'Pudding', sans-serif;
      overflow-x: hidden;
  }
  
  .ThemeLight{
    background-color: rgb(241, 229, 214);
  }

  .ThemeDark{
    background-color: #785339;
  }



  
  .PuddingContainerDark {
    background: url('../../assets//backgrounds/sfondodarktheme.png') no-repeat;
    width: 100%;
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.468);

    a {
      text-decoration: none;
      color: black;
      .flex-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 50px;
      }
      .bannerText {
        font-size: 90px;
        text-align: center;
      }
    }

    .fixedButton {
      position: fixed;
      bottom:0;
      right: 0;
      padding: 1.5rem;
      margin: 1.5rem;
      width: 200px;
      height: 200px;

      .fixedImage {
        width: 200px;
      }
      .fixedImage:hover {
        transform: scale(1.1);
        transition: all 0.5 ease;
      }
    }

    .fixedButtonDarkMode {
      position: fixed;
      top:-45px;
      right: -130px;
      padding: 1.5rem;
      margin: 1.5rem;
      width: 200px;
      height: 200px;

      .fixedImageDark {
        width: 60px;
      }
      .fixedImageDark:hover {
        transform: scale(1.1);
        transition: all 0.5 ease;
      }
    }
  

    .ButtonContainer {
      width: 400px;
      align-items: center;

      .PuddingButton {
        width: 100%;
        transform: translateX(2);
        transition: transform 0.5s ease-in-out;
        animation: pudding-dance 2s infinite alternate;
      }
      
      @keyframes pudding-dance {
        0% {
          transform: rotate(2deg) translateX(-3px) translateY(-3px);
        }
        100% {
          transform: rotate(-3deg) translateX(3px) translateY(3px);
        }
      }
      
      .PuddingButton:hover img {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .PuddingContainer {
    background: url('../../assets//backgrounds/SfondoPudding.png') no-repeat;
    width: 100%;
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.468);
    

    a {
      text-decoration: none;
      color: black;
      .flex-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 50px;
      }
      .bannerText {
        font-size: 90px;
        text-align: center;
      }
    }

    .fixedButton {
      position: fixed;
      bottom:0;
      right: 0;
      padding: 1.5rem;
      margin: 1.5rem;
      width: 200px;
      height: 200px;

      .fixedImage {
        width: 200px;
      }
      .fixedImage:hover {
        transform: scale(1.1);
        transition: all 0.5 ease;
      }
    }

    .fixedButtonDarkMode {
      position: fixed;
      top:-45px;
      right: -130px;
      padding: 1.5rem;
      margin: 1.5rem;
      width: 200px;
      height: 200px;

      .fixedImageDark {
        width: 60px;
      }
      .fixedImageDark:hover {
        transform: scale(1.1);
        transition: all 0.5 ease;
      }
    }
  

    .ButtonContainer {
      width: 400px;
      align-items: center;

      .PuddingButton {
        width: 100%;
        transform: translateX(2);
        transition: transform 0.5s ease-in-out;
        animation: pudding-dance 2s infinite alternate;
      }
      
      @keyframes pudding-dance {
        0% {
          transform: rotate(2deg) translateX(-3px) translateY(-3px);
        }
        100% {
          transform: rotate(-3deg) translateX(3px) translateY(3px);
        }
      }
      
      .PuddingButton:hover img {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
      }
    }
  }