* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(241, 229, 214);
  }

  .PuddingContainer {
    background: url('../../assets//backgrounds/SfondoPudding.png') no-repeat;
    height: 20em;
    width: 100%;
  }