.header {
    background-color: #FFF091;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

    .headerPages {
        display: flex;
        gap: 30px;
      
    } 

}

.headerDark {
    background-color: #3f210b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    p{
        color: white;
    }

    .headerPages {
        display: flex;
        gap: 30px;
        
    } 

}

