.TextLight {
    color: #76421D;
}

.TextDark {
    color: #FFF091;
}


.Container {
    border-radius: 15px;
    margin: 35px;
    border-style: solid;
    border-width: 50px;
    background-repeat: no-repeat;
    background-size: auto;
    border-image: url(../../assets/backgrounds/pattern.png) 300 round;
   

    p {
        text-align: center;
        padding: 10px;
        font-size: 80px;
        font-weight: bolder;
    }

    .ProductsContainer {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
        

        .singleCard {
            
            background: linear-gradient(to bottom, #ebcdb5, #FFF091, #FFF091);
            box-shadow: 25px 20px 5px rgba(0, 0, 0, 0.468);
            width: 20%;
            border: solid 1px black;
            border-radius: 15px;
            text-align: center;
            min-width: 300px;

            .ChocolatePhoto {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }

            .ProductPhotoContainer {
                padding: 10px;
                .ProductPhoto {
                    width: 100%;
                    border-radius: 30px;
                    border: solid 4px #76421D;
                }
            }

            .cardName {
                font-size: 60px;
                color: #76421D;
            }
        }
    }
}