.ContactContainer {
    background: url('../../assets/backgrounds/SfondoPudding.png');
    height: 100vh;
}

.contact-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
}

.ChocolatePhoto {
    display: flex;
    overflow: hidden;

    .choco2 {
        transform: scaleX(-1);
    }
   }

.transparent-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   p {
    font-size: 100px;
    text-align: center;
    padding: 10px;
   }

}

.ContactsWrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: black;
        #telegram-block {
            background: linear-gradient(#2F9FD5, #7aadc7);
            border: solid 2px black;
            color: white;
            #telegramIcon {
                filter: invert(1)
            }
        }

        #instagram-block {
            background: linear-gradient(#FD01B7, #AA07F1, #FE301E, #FFC300);
            color: white;
            border: solid 2px black;
            #instagramIcon {
                filter: invert(1)
            }
        }

        .social-block {
            display: flex;
            align-items: center;
            border-radius: 15px;
            padding: 10px;
            gap: 15px;
            img {
                width: 50px;
                height: 50px;
            }
        }

    }
}